<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Aeonik-Air.ttf</string>
		<string>Aeonik-AirItalic.ttf</string>
		<string>Aeonik-Black.ttf</string>
		<string>Aeonik-BlackItalic.ttf</string>
		<string>Aeonik-Bold.ttf</string>
		<string>Aeonik-BoldItalic.ttf</string>
		<string>Aeonik-Light.ttf</string>
		<string>Aeonik-LightItalic.ttf</string>
		<string>Aeonik-Medium.ttf</string>
		<string>Aeonik-MediumItalic.ttf</string>
		<string>Aeonik-Regular.ttf</string>
		<string>Aeonik-RegularItalic.ttf</string>
		<string>Aeonik-Thin.ttf</string>
		<string>Aeonik-ThinItalic.ttf</string>
		<string>Aeonik_OVERVIEW-Medium.ttf</string>
		<string>Aeonik_OVERVIEW-Regular.ttf</string>
	</array>
</dict>
</plist>
